---
import projectsJson from "./projects.json"

interface Props {
    allProjects?: boolean
}

const { allProjects = false } = Astro.props

interface Project {
    index: number
    title: string
    description: string
    link: string
    tag?: "pre-release" | "archived" | "borked"
}
const projects = projectsJson.map((project, index) => {
    return { index: index + 1, ...project }
}) as Project[]
---

<div class="flex flex-col gap-6">
    <h2 class="text-2xl max-sm:text-xl font-semibold">My Work</h2>
    <div class="flex flex-col-reverse gap-3">
    {(allProjects ? projects : projects.slice(-3)).map(({index, title, description,link, tag}) => {
    	return (
     <a href={link} class="flex justify-between target:py-10 target:font-bold target:text-2xl target:max-sm:text-xl group" id={index.toString()}>
        <div class="flex flex-col gap-1 group-hover:animate-pulse-slow">
            <div class="flex gap-1">
                <span class="tabular-nums text-lg">{index}.</span>
                <span id="projectTitle" class="group-hover:underline underline-offset-4 text-lg">{title}</span>
            </div>
            <p class="text-base max-sm:text-sm text-muted-foreground">{description}</p>
        </div>
        <div class="text-base max-sm:text-sm min-w-fit self-start bg-accent text-accent-foreground p-2 rounded-[0.5rem] overflow-hidden capitalize">
            {tag ?? "Released"}
        </div>
     </a>
     )
    })}
    </div>
    {!allProjects ? <a href="/projects" class="text-lg hover:underline underline-offset-4 transition-all size-fit">{"Read more ->"}</a> : null}
</div>
