---
import { Thought, db, desc } from "astro:db"

interface Props {
    allThoughts?: boolean
}

const { allThoughts = false } = Astro.props

const thoughts = allThoughts
    ? await db.select().from(Thought).orderBy(desc(Thought.index))
    : await db.select().from(Thought).orderBy(desc(Thought.index)).limit(3)
---
<div class="flex flex-col gap-6">
    <h2 class="text-2xl max-sm:text-xl font-semibold">Inside my brain</h2>
    <div class="flex flex-col gap-3">
    {thoughts.map(({thought, date, index}) => {
    	return (
     <a href={`/thoughts#${index}`} class="flex justify-between gap-1.5 target:py-10 target:font-bold target:text-2xl target:max-sm:text-xl cursor-default" draggable={false} id={index.toString()}>
        <div class="flex gap-1 w-[75%]">
            <span class="tabular-nums text-lg">{index}{"."}</span>
            <div>
                <q class={!allThoughts ? "line-clamp-2 max-sm:line-clamp-2 text-lg" : null}>{thought}</q>
            </div>
        </div>
        <time datetime={date.toISOString()} class="text-base text-muted-foreground w-[25%]">
            {date.toString().slice(0,15)}
            <br>
            {`${date.toString().slice(16,21)} UTC`}
        </time>
     </a>
     )
    })}
    </div>
    {!allThoughts ? <a href="/thoughts" class="text-lg hover:underline underline-offset-4 transition-all size-fit">{"Read more ->"}</a> : null}
</div>
